.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

ion-icon[name="heart"] {
  color: var(--heart-color);
  font-size: 1.9rem;
  padding-inline: 0.5rem;
}

.footer-container .footer-title {
  font-size: 1.25rem;
  font-weight: 600;
}
