/* Header Section */

.header-container {
  box-shadow: 0 0 10px -1px var(--shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.7rem;
}

.logo {
  color: var(--brand-primary);
  font-weight: 600;
  font-size: 1.25rem;
}

.outlined-btn {
  display: inline-flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  border: 1px solid var(--lines-color);
  cursor: pointer;
  border-radius: 0.5rem;
}

.outlined-btn span {
  padding-left: 0.4rem;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.35rem;
}

.button-text {
  font-size: 1.15rem;
  font-weight: 400;
}

/* barnd section */
.brand-container {
  position: relative;
  min-height: 9rem;
}

.action-lable {
  font-size: 0.8rem;
}

.brand-content {
  position: absolute;
  top: 1.8rem;
  left: 18%;
  width: 100%;
}

.title {
  color: var(--brand-secondary-right);
  font-size: 1.65rem;
  font-weight: 800;
}

.sub-title {
  color: var(--body-text);
  font-weight: 200;
  font-size: 1.2rem;
}

.brand-header {
  display: flex;
  height: 6rem;
  position: relative;
}

.brand-left,
.brand-right {
  width: 90%;
  height: 90%;
  position: absolute;
}

.brand-left {
  left: 0;
  background: linear-gradient(
    to right,
    var(--brand-primary),
    var(--brand-secondary-right)
  );
  clip-path: polygon(0 0, 0 100%, 100% 0, 0 calc(100% - 30rem));
}

.brand-right {
  right: 0;
  background: linear-gradient(
    to left,
    var(--brand-secondary-right),
    var(--brand-secondary-right)
  );
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5.6rem));
}

@media only screen and (max-width: 768px) {
  .brand-header {
    height: 3rem;
  }

  .brand-left,
  .brand-right {
    height: 70%;
  }

  .brand-left {
    clip-path: polygon(0 0, 0 100%, 100% 0, 0 calc(100% - 15rem));
  }

  .brand-right {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2rem));
  }

  .brand-content {
    height: 10rem;
    left: 0;
    top: 1rem;
    padding-inline: 2rem;
  }
}

@media only screen and (max-width: 640px) {
  .button-text {
    display: none;
  }
}
